body {
    padding: 20px 20px 20px 20px;
  background: beige;
  display: flex;
  flex-wrap: wrap;
}
.card {
  display: flex;
  align-items: center;
  padding-right: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  background: rgb(97, 183, 249);
  border-radius: 15px;
  box-shadow: 5px 5px 5px grey;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.7s;
}
.card:hover {
  scale: 0.9;
  transition: 0.7s;
  box-shadow: none;
  cursor: pointer;
}
